* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html {
    font-size: 16px;
  }

body {
    font-family: 'Helvetica';
    margin-top: 5rem;
    width: 100%;
  }

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 5rem;
    background-color: white;
    border: 1px red solid;
  }

  nav {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  nav li {
    list-style-type: none;
  }

.logo {
  display: block;
  /* width: 300px; */
}

.logo h1 {
  font-weight: 800;
}

.desktop {
  display: flex;
  justify-content: flex-end;
  /* width: 30%; */
  height: 5rem;
  border: 1px red solid;
}

.icons {
  display: flex;
  /* justify-content: flex-end; */
  /* width: 30%; */
  height: 5rem;
  border: 1px red solid;
  
}

.navigation ul {
  display: flex;
  justify-content: flex-end;
}

.navigation li {
  /* width: 100px; */
}

.navigation a {
  /* display: block; */
  /* width: 100px; */
  /* height: 3rem; */
  border: 1px green solid;
}

.navigation img {
    /* display: block; */
    height: 2rem;
    /* border: 1px red solid; */
  }

.navigation .burger {
    display: none;
}

@media only screen and (max-width: 760px) {
    .navigation .burger {
        display: block;
        width: 10%;
        /* height: auto; */
    }
}

.promo img, .product img {
  max-width: 100%;
}

.promo {
  width: 80%;
}

.value img {
  height: 3rem;
}