* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html {
    font-size: 16px;
  }

body {
    font-family: 'Helvetica', sans-serif;
    margin-top: 5rem;
    width: 100%;
    text-align: center;
  }

h2 {
    text-transform: uppercase;
  }

li {
    list-style-type: none;
  }

/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 5rem;
    background-color: white;
    /* border: 1px red solid; */
  }

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0; */
    /* padding: 0; */
  }

.logo {
  display: block;
  font-family: 'Michroma', sans-serif;
}

header .logo h1 {
  font-weight: 800;
  font-size: 2rem;
  margin-left: 3rem;
}

.navbar {
  display: flex;
  justify-content: flex-end;
}

.desktop {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 5rem;
  text-transform: uppercase;
  font-weight: 600;
  /* border: 1px red solid; */
}

.icons {
  display: flex;
  align-items: center;
  height: 5rem;
  /* border: 1px red solid; */
  
}

.navigation ul {
  display: flex;
  justify-content: flex-end;
  /* border: 1px red solid; */
}


.navigation a {
  /* border: 1px green solid; */
  margin: 2rem;
  text-decoration: none;
  color: black;
}

.navigation img {
    height: 1rem;
  }

.navigation .burger {
    display: none;
}

@media only screen and (max-width: 760px) {
    .navigation .burger {
        display: block;
        width: 10%;
    }
}

/* Promo News */

.promo img {
  max-width: 100%;
}

.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 4rem;
}

#promo, #products {
  scroll-margin-top: 5rem;
}

/* Products Bestsellers */

.bestellers {
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: space-around;
  width: 70%;
  height: auto;
  /* border: 1px red solid; */
  margin: 0 auto;
}

.container {
  display: flex;
  width: 25%;
  flex-direction: column;
  text-align: left;
}

.product {
  padding: 0.5rem 0;
}

.product h3 {
  padding: 0.5rem 0;
}

.product img {
  max-width: 100%;
}

.product .button {
  background-color: rgb(167, 167, 167);
  width: 7rem;
  height: 1.7rem;
  text-align: center;
  padding: 0.3rem 0;
}

.product a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

/* Company Values */

.values {
  display: flex;
  width: 60%;
  justify-content: center;
  margin: 0 auto;
  padding: 4rem;
}

.value {
  padding: 1rem 2rem;
}

.value h3 {
  padding: 1rem;
}

.value img {
  height: 3rem;
}

/* Footer */

footer {
  display: flex;
  background-color: rgb(167, 167, 167);
  width: 100%;
  height: auto;
  justify-content: space-between;
  border: 1px red solid;
  padding: 0 3rem;
}

footer ul {
  border: 1px red solid;
  text-align: left;
}

footer li {
  color: white;
  padding: 0.5rem;
}

footer .logo h1 {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  border: 1px red solid;
}