* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    font-size: 16px;
  }

  body {
    font-family: 'Open Sans', Helvetica;
    color: rgb(174, 174, 174);
    background-color: rgb(17, 17, 17);
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 12%;
  }

  nav ul {
    display: flex;
    flex-direction: column; /* for vertical nav bar*/
    list-style-type: none;
  }

  nav li a {
    display: block;
    width: auto;
    height: auto;
    padding: 0.5rem;
    margin-bottom: 0.2rem;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(83, 83, 83);
    color: white;
    border-radius: 0 1px 1px 0;
    /* border: 1px red solid; */
  }

  nav li a:hover {
    background-color: rgb(98, 98, 142);
  }

  .main {
    margin-top: 1rem;
    margin-left: 15%;
  }

  .section {
    width: 80%;
    padding: 2rem;
  }

  .section:nth-child(even) {
    background-color: rgb(58, 58, 58);
  }

  .section img {
    max-width: 60%;
  }

  h2 {
    font-weight: 600;
    color: white;
  }

  h3 {
    font-weight: 600;
    color: rgb(199, 199, 199);
  }

  /* Formeln */
 
  .formel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    width: 30%;
    margin: 2rem;
  }

  .formel-header {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: rgb(81, 81, 81);
    border-radius: 1px 1px 0 0;
  }

  .formel-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-color: rgb(114, 112, 164);
    border-radius: 0 0 1px 1px;
  }

  .formel-content p {
    padding: 0.5rem;
    font-weight: 500;
  }

  .formel-content p:first-child {
    border-bottom: 1px white solid;
  }

/* Assistenten */

.assistenten {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
}

#assistenten {
  background-color: rgb(17, 17, 17);
}

.assistent-card {
  padding: 1rem 2rem;
  width: 50%;
  border: 1px grey solid;
}

.assistent-card:nth-child(4n+1) {
  background-color: rgb(49, 49, 49);
}

.assistent-card:nth-child(4n+2) {
  background-color: rgb(49, 49, 49);
}

.assistenten h3 {
  border-bottom: 1px white solid;
  margin-bottom: 0.5rem;
}
