* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    font-size: 16px;
  }

  body {
    font-family: 'Open Sans', Helvetica;
    color: rgb(174, 174, 174);
    background-color: rgb(17, 17, 17);
  }

  /* header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: mediumaquamarine;
    height: 3rem;
    border: 1px red solid;
  } */

  header {
    position: fixed;
    top: 0;
    left: 0;
    /* right: 0; */
    bottom: 0;
    width: 10%;
    /* background-color: mediumaquamarine; */
    /* border: 1px red solid; */
  }

  nav ul {
    display: flex;
    flex-direction: column; /* for vertical nav bar*/
    list-style-type: none;
    /* align-items: center; */
  }

  nav li a {
    display: block;
    width: auto;
    height: auto;
    padding: 0.5rem;
    margin-bottom: 0.2rem;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(83, 83, 83);
    color: white;
    border-radius: 0 1px 1px 0;
    /* border: 1px red solid; */
  }

  nav li a:hover {
    /* background-color: rgb(82, 82, 211); */
    background-color: rgb(98, 98, 142);
  }

  .main {
    margin-top: 1rem;
    margin-left: 14%;
  }

  /* Formeln */
 
  .formel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    width: 30%;
    /* padding: 1rem; */
    margin: 2rem;
    /* background-color: rgb(157, 154, 245); */
    /* border-radius: 10px; */
  }

  .formel-header {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: rgb(81, 81, 81);
    border-radius: 1px 1px 0 0;
  }

  .formel-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-color: rgb(114, 112, 164);
    border-radius: 0 0 1px 1px;
  }

  .formel-content p {
    padding: 0.5rem;
    font-weight: 500;
  }

  .formel-content p:first-child {
    border-bottom: 1px white solid;
  }


