* {
    box-sizing: border-box;
    
  }

body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;

}

header {
    border-bottom: 1px solid seashell;
    display: flex;
    position: fixed;
    height: 69px;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    padding: 0 10px;
    background-color: black;
    opacity: 0.9;
    z-index: 1;
}

.navigation {
    display: flex;
    min-width: 400px;
    justify-content: space-between;
}


a {
    text-decoration: underline;
    color: seashell;
    cursor: pointer;
}

.main-section, footer {
    position: relative;
    top: 69px;
}

#mission, #featured, #locations {
    scroll-margin-top: 75px;
}